<div *ngFor="let p of products">
    <div class="product-container" [ngStyle]="{backgroundColor:p.available == 'Available' ? '#d5f5e3' : '#fadbd8'}">
        <div class="image-container">
            <img [src]="p.image" alt="" height="50px" width="50px">
        </div>
        <div class="name-container">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;">{{p.name}}</p>
        </div>
        <div class="detailContainer">
            <div class="details" [ngStyle]="{color:p.available == 'Available' ? 'green' : 'red'}">{{p.available}}</div>
            <div class="details">Price: <b>{{p.price}}</b></div>
            <div class="details">Color: <b>{{p.color}}</b></div>
        </div>
        <div class="options">
            <button class="btn btn-green">Show Details</button>
            <button class="btn btn-orange" *ngIf="p.available == 'Available';else notifyme">Buy Now</button>
            <ng-template #notifyme>
                <button class="btn btn-red">Notify Me</button>
            </ng-template>
        </div>
    </div>
</div>