*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.product-container{
    display: flex;
    margin: 15px 0px;
    padding: 15px;
    border-radius: 5px;
}
.image-container{
    background-color: #fff;
    height: 70px;
    width: 70px;
    padding: 10px;
    text-align: center;
}
.detailContainer{
    display: flex;
    margin: 0px 20px;
}
.name-container{
    margin: 0px 20px;
    width: 200px;
}
.details{
    width: 140px;
}
.options{
    width: 220px;
    margin-left: 80px;
}
.btn{
    border-radius: none;
    border: none;
    margin: 0px 5px;
    padding: 17px 12px;
    font-size: 12px;
    color: #fff;
}
.btn-green{
    background-color: rgb(25, 189, 25);
}
.btn-orange{
    background-color: rgb(240, 159, 9);
}
.btn-red{
    background-color: rgb(247, 36, 36);
}